name: golangci-lint
on:
  - push
  - pull_request
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.29
